In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import display, HTML

In [2]:
CLUSTER_DICT = {
    'uraian_jenis_perusahaan': 'Uraian Jenis Perusahaan',
    'uraian_risiko_proyek' : 'Uraian Risiko Proyek',
    'skala_usaha': 'Skala Usaha',
    'golongan_kbli': 'Golongan KBLI',
}

CLUSTER_DICT.keys()

In [3]:
index_kecamatan = ['Amurang', 'Amurang Barat', 'Suluun Tareran', 'Tumpaan',
       'Amurang Timur', 'Tenga', 'Maesaan', 'Motoling', 'Motoling Timur',
       'Tompaso Baru', 'Modoinding', 'Ranoyapo', 'Tareran',
       'Motoling Barat', 'Sinonsayang', 'Kumelembuai', 'Tatapaan']

In [4]:
cluster_summary_df = pd.DataFrame({
    'kecamatan': index_kecamatan
})

cluster_summary_df.set_index('kecamatan', inplace=True)

In [5]:
cluster_summary_df

Empty DataFrame
Columns: []
Index: [Amurang, Amurang Barat, Suluun Tareran, Tumpaan, Amurang Timur, Tenga, Maesaan, Motoling, Motoling Timur, Tompaso Baru, Modoinding, Ranoyapo, Tareran, Motoling Barat, Sinonsayang, Kumelembuai, Tatapaan]

In [6]:
def append_cluster_summary(cluster_name):
    df = pd.read_csv('cluster_results/' + cluster_name + '.csv')
    df.set_index('kecamatan', inplace=True)
    
    for kecamatan in index_kecamatan:
        cluster_values = df.loc[[kecamatan]].cluster.values[0]
        cluster_summary_df.loc[kecamatan, cluster_name] = cluster_values

In [7]:
for column_key in CLUSTER_DICT.keys():
    append_cluster_summary(column_key)

In [8]:
cluster_summary_df

,uraian_jenis_perusahaan,uraian_risiko_proyek,skala_usaha,golongan_kbli
kecamatan,,,,
Amurang,C1,C2,C0,C3
Amurang Barat,C3,C0,C1,C1
Suluun Tareran,C0,C3,C2,C0
Tumpaan,C3,C0,C1,C1
Amurang Timur,C3,C0,C3,C1
Tenga,C2,C3,C2,C2
Maesaan,C2,C3,C4,C2
Motoling,C0,C3,C2,C0
Motoling Timur,C2,C3,C4,C2
Tompaso Baru,C2,C3,C4,C2
Modoinding,C0,C1,C2,C4
Ranoyapo,C0,C3,C4,C0
Tareran,C2,C3,C2,C2
Motoling Barat,C0,C3,C4,C0
Sinonsayang,C2,C3,C2,C2
Kumelembuai,C2,C3,C4,C2
Tatapaan,C0,C3,C2,C0

In [9]:
cluster_summary_df.loc[cluster_summary_df['skala_usaha'] == 'C1']

,uraian_jenis_perusahaan,uraian_risiko_proyek,skala_usaha,golongan_kbli
kecamatan,,,,
Amurang Barat,C3,C0,C1,C1
Tumpaan,C3,C0,C1,C1

In [10]:
def display_clusters_summary(df, column):
    for cluster in df[column].unique():
        print('\n', column, " ", "cluster: ", cluster)
        display_df = df[[column]].loc[df[column] == cluster]
        display(HTML(display_df.to_html()))
        print('\n')

In [11]:
for cluster_key in CLUSTER_DICT.keys():
    print(cluster_key)
    display_clusters_summary(cluster_summary_df, cluster_key)
    print('----------------------------------------------------------------------\n\n')

uraian_jenis_perusahaan

 uraian_jenis_perusahaan   cluster:  C1

 uraian_jenis_perusahaan   cluster:  C3

 uraian_jenis_perusahaan   cluster:  C0

 uraian_jenis_perusahaan   cluster:  C2

----------------------------------------------------------------------


uraian_risiko_proyek

 uraian_risiko_proyek   cluster:  C2

 uraian_risiko_proyek   cluster:  C0

 uraian_risiko_proyek   cluster:  C3

 uraian_risiko_proyek   cluster:  C1

----------------------------------------------------------------------


skala_usaha

 skala_usaha   cluster:  C0

 skala_usaha   cluster:  C1

 skala_usaha   cluster:  C2

 skala_usaha   cluster:  C3

 skala_usaha   cluster:  C4

----------------------------------------------------------------------


golongan_kbli

 golongan_kbli   cluster:  C3

 golongan_kbli   cluster:  C1

 golongan_kbli   cluster:  C0

 golongan_kbli   cluster:  C2

 golongan_kbli   cluster:  C4

----------------------------------------------------------------------